body{
    background-image: url(https://www.fizikist.com/uploads/img/1660416649_void-in-space-ljpg.webp);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover
}